<div class="container-fluid ">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100  mx-0">
              <div class="col-lg-6 mx-auto">
                <div class="auth-form-light  text-left py-5 px-4 px-sm-5">
                  <div class="brand-logo">
                    <img src="images/logo.svg" alt="logo">
                  </div>
                  <h4>Hello! let's get started</h4>
                  <h6 class="font-weight-light">Sign in to continue.</h6>
                  <form class="pt-3" action="add-admin" method="post">
                    <div class="form-group">
                      <input type="text" name="name"  class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                      <input type="password" name="cpassword" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Confirmed Password" required>
                    </div>
                    <div class="mt-3">
                      <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Add Admin</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
</div>