<div class="container w-100 .flex-column justify-content-center mt-5 p-5">
    <h1 class="text-center text-muted">Something went wrong!</h1>
    <img src="/assets/images/something-went-wrong.png" style="height: 400px; width: 90%;" alt="">
</div>