<div class="container w-100 .flex-column justify-content-center mt-5 p-5 ">
    <h1 class="text-center text-muted mt-3">Something went wrong!</h1>
    <div class="d-flex ">
        <img src="/assets/images/something-went-wrong.png" class="bg-dark m-auto" style="height: 400px; width: 80%;margin: auto !important;" alt="">
    </div>
</div>