<!-- breadcrumb -->
<div class="mt-5 pt-5">
  <div class="container">
      <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
          <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
              Home
              <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
          </a>
          <a href="/cart" class="stext-109 cl8 hov-cl1 trans-04">
              Shopping Cart
              <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
          </a>
          <span class="stext-109 cl4">
              Checkout
          </span>
      </div>
  </div>
</div>


<div class="container " >
    <div class="container mt-5 mb-5 me-border-rad25 p-5 me-box-shadow">
        <div class="pb-5 text-center">
          
          <h2>Checkout form</h2>
        </div>
      
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Your cart</span>
              <span class="badge badge-secondary badge-pill">3</span>
            </h4>


            <ul class="list-group mb-3">
                <% locals.subTotal = 0; let index = 0 %> 
                <% cartItems.forEach(function(item){ %>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>       
                            <h6 class="my-0"><%= item.products[index].title %></h6>
                            <small class="text-muted"><%= item.products[index].title %></small>
                        </div>
                        <span class="text-muted">₹<%= item.products[index].price %></span>
                    </li>
              <% }) %>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>       
                    <h6 class="my-0">Total Price</h6>
                    <!-- <small class="text-muted">k;llkjjkkj</small> -->
                </div>
                <span class="text-muted">₹<%= locals.grandTotal  %> </span>
            </li>

            </ul>

          </div>
          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>


            
            <form class="needs-validation" action="/confirm-checkout" method="post" >
              <div class="row">
                <div class="col-md-6 mb-3">
                  <!-- <label for="firstName">Full Name</label> -->
                  <input type="text" class="form-control" id="firstName" name="name" placeholder="Enter name" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>

                <div class="mb-3 col-md-6">
                    <!-- <label for="email">Email </label> -->
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                    </div>
                </div>
              </div>

              <div class="mb-3">
                <!-- <label for="phone">Phone</label> -->
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
                <div class="invalid-feedback">
                  Please enter your phone number.
                </div>
              </div>
      
              <div class="mb-3">
                <!-- <label for="address">Address </label> -->
                <input type="text" class="form-control" id="address" name="address" placeholder="Apartment or suite">
              </div>
      
              <div class="row">
                <div class="col-md-5 mb-3">
                  <!-- <label for="country">Country</label> -->
                  <select class="custom-select d-block w-100" id="country" name="country" required>
                    <option value="">Country</option>
                    <option value="India">India</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <!-- <label for="state">State</label> -->
                  <select class="custom-select d-block w-100" name="state" id="state" required>
                    <option value="">State...</option>
                    <option>Andra</option>
                    <option>Kerala</option>
                    <option>Karnataka</option>
                    <option>Tamil Nadu</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <!-- <label for="zip">Pincode</label> -->
                  <input type="text" class="form-control" id="zip" name="pincode" placeholder="Pincode" required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
            </div>
            <hr class="mb-4 ">
            <div class="col-me-3 mb-3 px-3">
              <h4 class="mb-3">Payment</h4>

                <label for="zip">Chose payment mode :</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMode" value="upi" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        BANK / UPI
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"  type="radio" name="paymentMode" value="cod" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                    CASH ON DELIVERY
                    </label>
                </div>
            </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
            </form>
          </div>
        </div>
    
      </div>
</div>







