<div class="mt-5 pt-5 m-b-10 mb-5 pb-5" style="margin-bottom: 100rem; margin-top: 100rem;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="order-image d-flex justify-content-center">
                    <img src="/assets/images/Purchase_Success.png" class="" alt="order placed">
                </div>
                <h2 class="" style="text-align: center ;">Order placed successfully</h2>
                <div style="text-align: center ;">
                    <a href="/orders" class="btn btn-secondary">View orders</a>
                    <a href="/" class="btn btn-success">Continue shopping</a>
                </div>
            </div>
        </div>
    </div>
    </div>