<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="mt-5 pt-5">
	<div class=" mt-5 mb-5">
		<div class="col-md-6 mx-auto ">
			<div class="card w-75 mx-5 me-box-shadow" style="border-radius: 30px ; ">
				<div class="card-header text-center ">
					<h1 class="">Signup</h1>
				</div>
				<div class="card-body">
					<form class="form-horizontal" method="post" action="/signup">
						<% if(locals.error){ %>
							<h5 id="invalid" class="alert alert-danger">
								<%= msg %>
							</h5>
					   <% } %>
					
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control"  onkeyup="validateName()" name="name" id="name" placeholder="Enter your Name" /> <br>
								</div>
								<span id="name-error"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" onkeyup="validateEmail()" name="email" id="email" placeholder="Enter your Email" /> 
								</div>
								<span id="email-error"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Phone Number</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="phone"  onkeyup="validatePhone()" id="phone" placeholder="Enter your phone number" /> 
								</div>
								<span id="phone-error"></span>
							</div>
						</div>
					
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control"  onkeyup="validatePassword()" name="password" id="password"
										placeholder="Enter your Password" /> <br>
								</div>
								<span id="password-error"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control"  onkeyup="validatePassword()" name="cpassword" id="password"
										placeholder="Enter your Password" /> <br>
								</div>
								<span id="password-error"></span>
							</div>
						</div>
						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
						</div>
						<div class="login-register">
							<a href="/login">Login</a>
						</div>
					</form>
				</div>
	
			</div>
		</div>
	</div>
</div>
<script>
var nameError = document.getElementById('name-error');
	var emailError = document.getElementById('email-error');
	var phoneError = document.getElementById('phone-error');
	var passwordError = document.getElementById('password-error');
	var submitError = document.getElementById('submit-error');


	function validateName() {
		var name = document.getElementById('name').value.trim();

		if (name.length == 0) {
			nameError.innerHTML = 'Name is Required';
			nameError.style.color = 'red'
			return false;
		}

		if (!name.match(/^[A-Za-z ]*$/)) {
			nameError.innerHTML = 'Invalid Name';
			nameError.style.color = 'red'
			return false;
		}

		if (name.length < 3) {
			nameError.innerHTML = 'Enter minimum 3 charactors';
			nameError.style.color = 'red'
			return false;
		}

		nameError.innerHTML = 'Name is valid';
		nameError.style.color = 'green'
		return true;
	}

	function validateEmail() {
		var email = document.getElementById('email').value.trim();
		if (email.length == 0) {
			emailError.innerHTML = 'Email is Required';
			emailError.style.color = 'red'
			return false;
		}

		if (!email.match(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
			emailError.innerHTML = 'Email is Invalid';
			emailError.style.color = 'red'
			return false;
		}
		emailError.innerHTML = 'Email is valid';
		emailError.style.color = 'green'
		return true;
	}

	function validatePassword() {
		var password = document.getElementById('password').value.trim();
		var Required = 15;
		var left = Required - password.length;

		if (password.length == 0 || password.length < 6) {
			passwordError.innerHTML = 'More Character Required';
			passwordError.style.color = 'red'
			return false;
		}
		passwordError.innerHTML = 'Valid';
		passwordError.style.color = 'green'
		return true;

	}

	function validatePhone() {
		var phone = document.getElementById("phone").value.trim();
		if (phone.length == 0) {
			phoneError.innerHTML = 'Phone number is Required';
			phoneError.style.color = 'red'
			
			return false;
		}
		if (phone.length <= 9) {
			phoneError.innerHTML = "Enter Valid Phone Number"
			phoneError.style.color = "red"
			
			return false

		}
		if (phone.length >= 11) {
			phoneError.innerHTML = "Phone Number Must be 10 Digits"
			phoneError.style.color = "red"
			return false

		}
		if (!phone.match(/^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/)) {
			phoneError.innerHTML = "Phonenumber must be digits"
			phoneError.style.color("red")


			return false;
		}
		phoneError.innerHTML = ""
		phoneError.innerHTML = "Phone Number is valid"
		phoneError.style.color = 'green'
		return true;


	}
	jQuery_1_7_1(document).on("submit","form", function(e){
		if (validateName() && validateEmail() && validatePhone() && validatePassword()) {
		
		}else{
			e.preventDefault();

			Swal.fire({
				icon: 'error',
				title: 'Oops...',
				text: 'Invalid Input',
			})
		return false;
		}
	})
</script>